<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">   <!-- // favicon image change karna h -->
    <title>Rustin Backend</title>
</head>
<body>
    <div class="container">
        <h1><strong>Welcome To Rustin</strong></h1>
        <h2><em>Backend</em></h2>
    </div>